<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element" class="pad-10">
      <img src="{{element[column]}}" height="60" *ngIf="column === 'flag'" />
      <span *ngIf="column !== 'flag' " style="font-size: large">{{element[column]}}</span>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="country-info-container">
          <div>
            <div><h4>Capital City</h4></div>
            <div>{{element.capital}}</div>
          </div>
          <div>
            <div><h4>Population</h4></div>
            <div>{{element.population}}</div>
          </div>
          <div>
            <div><h4>Languages</h4></div>
            <ul>
              <li *ngFor="let language of element.languages">
                {{ language.name }}
              </li>
            </ul>
          </div>
          <div>
            <div><h4>Currencies</h4></div>
            <ul>
              <li *ngFor="let currency of element.currencies">
                {{ currency.name }} ({{currency.symbol}}{{currency.code}})
              </li>
            </ul>
          </div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator [pageSize]="10"></mat-paginator>
